{% schema %}
{
  "name": "NAVIGATION BAR",
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_icon_toggle",
      "label": "Show Cart Icon",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "NAVIGATION BAR",
      "category": "Header"
    }
  ]
}
{% endschema %}

{{ 'navigation.css' | asset_url | stylesheet_tag }}
{{ 'navigation.js' | asset_url | script_tag }}

<main class="main-content hidden">
    {% comment %} DESKTOP NAVIGATION {% endcomment %}
    <nav class="navigation-bar">
        {% if settings.favicon %}
          <a href="/"><img src="{{ settings.favicon | image_url: width: 100 }}" alt="{{ shop.name }} logo" class="brand-logo"></a>
        {% else %}
          <span class="no-logo-text">{{ shop.name }}</span>
        {% endif %}
        <ul class="nav-list nav-font">
            {% for link in linklists.main-menu.links %}
              <li><a href="{{ link.url }}" class="nav-item">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
        {% if section.settings.cart_icon_toggle %}
            <a href=""><img src="{{ 'shopping-cart.png' | asset_img_url }}" alt="Cart Icon" class="cart-icon"></a>
        {% endif %}
    </nav>

    {% comment %} MOBILE NAVIGATION {% endcomment %}
    <button class="hamburger-menu" id="hamburger-menu">&#9776;</button>
    <aside class="sidebar" id="sidebar">
        {% if settings.favicon %}
          <a href="/"><img src="{{ settings.favicon | image_url: width: 100 }}" alt="Brand's Logo" class="brand-logo-mobile"></a>
        {% endif %}
        <ul class="nav-list-mobile nav-font">
            {% for link in linklists.main-menu.links %}
              <li><a href="{{ link.url }}" class="nav-item-mobile">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </aside>
</main>
