{% schema %}
  {
    "name": "exec - Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "bar_text",
        "label": "Text Content",
        "default": "Check out Our New Collection!"
      },
      {
        "type": "url",
        "id": "bar_link",
        "label": "Link",
        "default": "/collections/all"
      },
      {
        "type": "checkbox",
        "id": "bar_text_decoration",
        "label": "Text Underline",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "exec - Announcement Bar",
        "category": "header"
      }
    ],
    "enabled_on": {
      "groups": ["header"]
    }
  }
  {% endschema %}
  
  <nav class="exec-announcement-bar">
    <div class="exec-announcement-bar-content">
      <div class="exec-announcement-bar-marquee">
        {% for i in (1..20) %}
          {% if section.settings.bar_link != blank %}
            <a href="{{ section.settings.bar_link }}">{{ section.settings.bar_text }}</a>
          {% else %}
            <p>{{ section.settings.bar_text }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <style>
      .exec-announcement-bar {
          background-color: {{ settings.bar_background_color }};
          display: flex;
          overflow: hidden;
          margin: 0;
          padding: 10px 0;
      }
      .exec-announcement-bar-content {
          display: flex;
          width: 100%;
          position: relative;
      }
      .exec-announcement-bar-marquee {
          display: flex;
          white-space: nowrap;
          transform: translateX(100%);
          animation: scroll-left 10s linear infinite;
      }
      .exec-announcement-bar-marquee a, .exec-announcement-bar-marquee p {
          color: {{ settings.bar_link_color }};
          position: relative;
          display: inline-block;
          margin-right: 20px;
          text-decoration: none;
          font-size: 1.2rem;
      }
      @keyframes scroll-left {
          from {
              transform: translateX(100%);
          }
          to {
              transform: translateX(-100%);
          }
      }
    </style>
  </nav>
  